# UNITY
# -----
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]in/
[Bb]uild/
[Bb]uilds/
ProfilerReports/
#[Pp]ackages/
ios-build/
testCategoriesToRun.txt

# Visual Studio cache directory
.vs/

*.csproj

*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta

# Rider IDE
.idea
*.userproperties

# Fastlane specific
fastlane/
Gemfile
Gemfile.lock


# Visual Studio
*.DotSettings
*.DotSettings.meta
*.mdb
*.mdb.meta
*.suo
*.suo.meta
*.user
*.user.meta
bin
bin.meta
obj
obj.meta

# VsCode
.vscode

**/.DS_Store
Assets/Save/
Assets/Save.meta
Save/

Assets/Temp/
Assets/Temp.meta

MemoryCaptures/

/UserSettings/
/CodeCoverage/
/Logs/
0_unity_project/Logs/
